<a href="https://colab.research.google.com/github/maniben3/CGBN/blob/master/profeena.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:

class Circle:
    pi = 3.14

    def __init__(self, radius):
        self.radius = radius
        
    def area(self):
        return self.pi * (self.radius ** 2)
    
    def circumference(self):
        return 2 * self.pi * self.radius
    
c = Circle(5)
print(c.area())
print(c.circumference())

78.5
31.400000000000002

abstraction

In [12]:

import math

class Circle:
    def __init__(self, radius):
        self._radius = radius
        
    def area(self):
        return math.pi * (self._radius ** 2)
    
    def circumference(self):
        return 2 * math.pi * self._radius
    
    def diameter(self):
        return 2 * self._radius
    
    def get_radius(self):
        return self._radius
    
    def set_radius(self, radius):
        self._radius = radius
        
circle = Circle(5)
print("Area:", circle.area())
print("Circumference:", circle.circumference())
print("Diameter:", circle.diameter())
print("Radius:", circle.get_radius())
circle.set_radius(10)
print("New Radius:", circle.get_radius())

Area: 78.53981633974483
Circumference: 31.41592653589793
Diameter: 10
Radius: 5
New Radius: 10

In [13]:

import math

class Circle:
    def __init__(self, radius):
        self.radius = radius
        
    def area(self):
        return math.pi * (self.radius ** 2)
    
    def circumference(self):
        return 2 * math.pi * self.radius
    
    def diameter(self):
        return 2 * self.radius
    
    def get_radius(self):
        return self.radius
    
    def set_radius(self, radius):
        self._radius = radius
        
circle = Circle(5)
print("Area:", circle.area())
print("Circumference:", circle.circumference())
print("Diameter:", circle.diameter())
print("Radius:", circle.get_radius())
circle.set_radius(10)
print("New Radius:", circle.get_radius())

Area: 78.53981633974483
Circumference: 31.41592653589793
Diameter: 10
Radius: 5
New Radius: 5

In [14]:
 # 2. 3 input from user
num1=int(input("num1 = "))
num2=int(input("num2 = "))
num3=int(input("num3 = "))
add=num1+num2
sub=num3-num2
if add>sub:
  print("Add is greater")
else:
  print("sub is greater")

num1 = 444
num2 = 66
num3 = 88
Add is greater

In [ ]:
#7.salesprice of item
cost = int(input("Enter Cost ="))
discount = int(input("Enter Discount Percentage ="))
print("salesprice = ",cost-(cost*(discount/100)))

In [ ]:
#10. sum iof all in list
list=[13,5,7768,35445,364577,34567,646467,78,8,68,78,8,67,8,78,67,84]
add=0
for i in range(len(list)):
  add+=list[i]
print(add)

In [ ]:
#11
start = int(input("Enter Starting Value ="))
end = int(input("Enter Ending Value ="))
for i in range(start,end+1):
  if (i%7==0) and ((i*5)<end+1):
     print(i)

In [ ]:
#15 fibonacci

def fibonacci(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(20))

In [ ]:
#19. large and small in list 

numbers = [3, 41, 12, 9, 74, 15]

largest = max(numbers)
smallest = min(numbers)

print("Largest number in the list:", largest)
print("Smallest number in the list:", smallest)

In [ ]:
#20. concatenate
words = ['Hello', 'world', '!',"33"]
sentence = ' '.join(words)
print(sentence)

In [ ]:
#22
import platform

print("Operating System Name:", platform.system())
print("Platform Name:", platform.platform())
print("Processor Type:", platform.processor())

In [ ]:
#23
import os
print(os.listdir())

In [ ]:
#24
a = 5
b = 10

temp = a
a = b
b = temp

print("a =", a)
print("b =", b)

In [ ]:
#26
import datetime

current_time = datetime.datetime.now().time()
print("Current time:", current_time)

In [ ]:
#27
import itertools

vowels = "aeiou"
perms = itertools.permutations(vowels)

for perm in perms:
    print("".join(perm))

In [ ]:
#28
def median_of_three(num1, num2, num3):
    nums = [num1, num2, num3]
    nums.sort()
    return nums[1]
median = median_of_three(4, 7, 2)
print(median) 

median = median_of_three(10, 3, 6)
print(median)

In [ ]:
#29
def get_value(item):
    return item[1]

d = {'apple': 3, 'banana': 2, 'orange': 1, 'pear': 4}

sorted_d = sorted(d.items(), key=get_value)

print(sorted_d)

In [ ]:
#38
my_tuple = (1, 2, 3, 4, 5)
my_tuple[1:3]

In [ ]:
#39
my_tuple = (("a", 1), ("b", 2), ("c", 3))

my_dict = dict(my_tuple)

print(my_tuple)
print( my_dict)

In [ ]:
#40

In [ ]:
#41
t1=(122,45,677,88)
t2=(122,45,677,88)
t3=(122,45,677,88)
for i in range(len(t1)):
    print(t1[i]+t2[i]+t3[i])

In [ ]:

#42
tt=[(122,45,677,88),(122,45,677,88),(122,45,677,88)]
for i in range(len(tt)):
    print(tt[i][0]+tt[i][1]+tt[i][2]+tt[i][3])

In [ ]:
#43
my_set = {1, 2, 3, 4, 5}
print(my_set)

In [ ]:
#44
my_set = {1, 2, 3, 4, 5}
my_set.remove(4)
print(my_set)

In [ ]:
#47
for i in range(7):
  if i==3 or i==6:
    continue
  print(i)

In [ ]:
#48
password = input("Enter a password: ")

if len(password) < 6 or len(password) > 16:
    print("Password must be between 6 and 16 characters long.")
elif not any(char.islower() for char in password):
    print("Password must contain at least one lowercase letter.")
elif not any(char.isupper() for char in password):
    print("Password must contain at least one uppercase letter.")
elif not any(char.isdigit() for char in password):
    print("Password must contain at least one number.")
else:
    print("Valid password!")

In [ ]:
#49
# Define a dictionary of month names and their corresponding number of days
month_dict = {
    "January": 31,
    "February": 28,
    "March": 31,
    "April": 30,
    "May": 31,
    "June": 30,
    "July": 31,
    "August": 31,
    "September": 30,
    "October": 31,
    "November": 30,
    "December": 31
}

# Ask the user to enter a month name
month_name = input("Enter a month name: ")

# Look up the number of days for the given month name in the dictionary
if month_name in month_dict:
    num_days = month_dict[month_name]
    print(month_name," has", num_days, "days.")
else:
    print("Invalid month name.")

In [ ]:
#50
sq=[]
for i in range(31):
   x=i*i
   sq.append(x)
print(sq)

In [ ]:
#51
def func():
  print("function in function ")
def func1():
   func()
func1()

In [ ]:
def count_locals():
    a = 1
    b = 2
    c = 3
    local_vars = locals()
    num_locals = len(local_vars)
    print(num_locals,local_vars)
    
count_locals()

In [ ]:
def is_leap_year(year):
    if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
        return True
    else:
        return False

years = [2000, 2004, 2008, 2012, 2016, 2020, 2024, 2100, 2200, 2300, 2400]
for year in years:
    if is_leap_year(year):
        print(year,"is a leap year.")
    else:
        print(year, "is not a leap year.")

In [ ]:
def student_data(student_id, student_name=None, student_class=None):
    print(f"Student ID: {student_id}")
    if student_name:
        print(f"Student Name: {student_name}")
    if student_class:
        print(f"Student Class: {student_class}")
student_data(12345)
student_data(12345, student_name="John Doe")
student_data(12345, student_name="John Doe", student_class="Math")

In [ ]:
#61
class Student:
    def __init__(self, student_name, student_class):
        self.student_name = student_name
        self.student_class = student_class
        
    def display_student(self):
        print("Student Name:", self.student_name)
        print("Student Class:", self.student_class)
        
s = Student("John Doe", "Grade 10")
s.display_student()

In [ ]:
with open('input.txt', 'w') as file:
    # Write some text to the file
    file.write('Hello, this is file 1!')

In [ ]:
#62
with open('input.txt', 'r') as input_file:
    contents = input_file.read()
with open('output.txt', 'w') as output_file:
    output_file.write(contents)
print("File copied successfully!")

In [ ]:
#63
import random

with open('output.txt', 'r') as file:
    lines = file.readlines()
line_number = random.randint(0, len(lines)-1)
print("Random line from the file:")
print(lines[line_number])

In [ ]:
import string

letters = list(string.ascii_lowercase)
print(letters)

In [ ]:
#64

letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

for letter in letters:
    filename = letter + ".txt"
    with open(filename, "w") as file:
        file.write("This is the file for the letter " + letter)

In [ ]:
!ls -a

In [ ]:
#65
add_15 = lambda x: x + 15
print(add_15(10))
multiply = lambda x, y: x * y
multiply(11,22)

In [ ]:
#66
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

filtered_listev = list(filter(lambda x: x % 2 == 0, original_list))
print("Original list of integers:", original_list)
print("Even numbers from the list:", filtered_listev)
filtered_listod = list(filter(lambda x: x % 2 == 1, original_list))
print("Even numbers from the list:", filtered_listod)

In [ ]:
class student:
    numl=20
    notel=40

    def read(self,num):

      print("reading ", num," books")

      print ("reading ", self.numl," books") 
    def write (self, note):

       print("writing ",note," notes") 
       print("reading ", self.notel," books")

In [ ]:
import numpy

In [ ]:
import os
os.cpu_count()

In [ ]:
obj=student()
obj.read(5)
obj.write(10)